html 
{
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {box-sizing: inherit;}

a 
{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {max-width: 100%;}

body 
{
  padding: 0;
  margin: 0;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
}

ul, li 
{
  list-style: none;
  padding: 0;
  margin: 0;
}

p 
{
  margin: 0;
  padding: 0;
}

button 
{
  padding: 0;
  margin: 0;
  border: none;
}

/*================ Fonts ===================*/
@font-face 
{
  font-family: "Open Sans Regular";
  src: url(../src/fonts/open-sans-regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face 
{
  font-family: "Open Sans Bold";
  src: url(../src/fonts/open-sans-bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face 
{
  font-family: "Open Sans SemiBold";
  src: url(../src/fonts/open-sans-semibold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*============== Variables ================*/
:root 
{
  --wight: #fff;
  --main-red: #e0001b;
  --main-grey: #f8f8f8;
}

/*===============================================*/

/* ============= Header top ===================== */


.header__top 
{
  display: flex;
  justify-items: center;
  width: 100%;
  height: 1.9vw;
  margin-bottom: 1.78vw;
  background-color: var(--main-grey);
}

.container 
{
  width: 58.3vw;
  margin: auto;
}

header .container 
{
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}

.header__top-left 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-right: 20px;
}

.header__location 
{
  display: flex;
  align-items: center;
}

.header__location > svg {margin-left: 4px;}

.header__location > p {margin-left: 12px;}

.header__top .navigation {width: 64.5%;}

.header__top .navigation__list
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top .navigation__seletct
{
  border: none;
  background-color: transparent;
  appearance: none;
  background-image: url(.././src/img/chevron-down.png);
  background-repeat: no-repeat;
  background-position-x: right;
  padding-right: 20px;
  font-family: "Open Sans Regular";
  font-size: inherit;
}

.header__top-right 
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding-right: 20px;
  
}

/* =================== Header middle ================= */
.header__middle 
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4px;
  font-size: 1rem;
  margin-bottom: 1.2vw;
}

.header__middle > img 
{
  height: 50%;
  margin-right: 2.9vw;
}

.header__middle .form 
{
  display: flex;
  width: 21.46vw;
  /*width: 412px;*/
  height: 2.6vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 46px;
  margin-top: -1.6px;
}

.header__middle .form__input
{
  padding-left: 12px;
  height: 100%;
  width: 18.58vw;
  letter-spacing: 1.4px;
}

.header__middle .form__btn
{
  position: relative;
  height: 100%;
  width: 2.9vw;
  padding: 5px;
  background-color: var(--main-red);
}

.header__middle .form__btn::before 
{
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--wight);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__middle .form__btn::after 
{
  content: " ";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background-color: var(--wight);
  transform: rotate(45deg);
  right: 12px;
  bottom: 12px;
}

.header__middle .navigation
{
  width: 24.5vw;
  height: 2.5vw;
  font-family: "Open Sans SemiBold";
  font-size: 14px;
}

.header__middle .navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  }

.header__middle .navigation__link
{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  height: 2.5vw;
}

 /*вынужденная мера задания отрицательного маргина для соответствия
 пиксель-перф. Другим решением было бы задание конкретной ширины
 каждому li. И так как ширина у всех них разная, выбрал этот вариант*/
.header__middle .navigation__item:nth-child(2) {margin-left: -15px;}

.header__middle .navigation__link img {
  margin-right: 15px;
}

.header__middle .navigation__link span 
{
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: var(--main-red);
  border-radius: 50%;
  padding-top: 1px;
  color: #fff;
  text-align: center;
  margin-left: 15px;
}

.navigation__link--decor {
  padding: 0 16px 0 16px;
  border-radius: 3px;
  background-color: var(--main-grey);
}

/*================header__bottom==================*/
/*.header__bottom {height: 48px;}*/

.header__burger-btn 
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 8.05vw;
  height: 2.5vw;
  padding-right: 8px;
  color: var(--wight);
  background-color: var(--main-red);
  font-family: "Open Sans SemiBold";
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.header__bottom .navigation
{  
  width: 58.9vw;
  height: 2.5vw;
}

.header__bottom .navigation__list
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 18px 0 23px;
  background-color: var(--main-grey);
  font-size: 0.88rem;
}

.header__bottom .navigation img {margin-right: 8px;}

.header__bottom .navigation__link
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
